.div {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.button {
  background-color: #007bff;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-colot 0.3s ease-in-out;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
